*{
  outline: none;
  box-sizing: border-box;
}
body {
  font-family: Arial;
  margin: 0;
}
.header {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
  background: #232323;
}
#container{
  position: absolute;
  background: #464646;
}
#search-input{
  margin-left: 250px;
  width: 325px;
  height: 40px;
  background: #F0F0F0;
  border-color: #232323;
}
#button{
  width: 80px;
  height: 40px;
  background: #F0F0F0;
  border-radius: 11px;
  border-color: #232323;
}
.context{
 position: absolute;
  width: 876px;
  height: 394px;
  left: 78px;
  top: 282px;
  margin-top: 10px;
  margin-right: 200px;
  margin-left: 200px;
  border: 2px solid #000000;
  box-sizing: border-box;
}
.username{
  float: left;
  margin:0 auto 0 auto;
  display: block;
}
#fullName{
  display: block;
}

.content {
  background: #E5E5E5;
}